*{
    margin: 0;
    padding: 0;
}

.hero {
    background-color: burlywood;
    background: url("../img/paisaje.jpg");
    height: 80vh;
    background-position: center;
    background-size: cover;
}

.prueba {
background-color: aqua;
}

.ebooks {
    background-color: blueviolet;
}